.navbar {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    height: 100px;
}

.nav-link {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-weight: bold;
    float: right;
}

.nav-link:hover {
    color: gray;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
}

.logo {
    float: left;
}

.logout {
    float: right;
    margin-top: 23px;
}
