
.sub-form {
    /* &:not(:last-child) {
        margin-bottom: 12px;
    } */
    width: 30%;
    height: 550px;
    margin: auto;
    border: 3px solid black;
    padding: 10px;
    margin-top: 5%;
    text-align: center;    
}

.description {
    width: 70%;
    height: 100px;
}

.user_id {
    visibility:hidden;
}

.input {
    border-radius: 6px;
    border: 1px solid transparent;
    border-color: #dbdbdb;
    -webkit-appearance: none;
    max-width: 100%;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    padding: 4px;
}